.bodyStyle {
  color: white;
  background-color: #15141b;
}

.sideNavBarStyle {
  color: white;
  background-color: #1f1e24;
}

.cardStyle {
  color: white;
  background-color: #191922;
}

.cantidad {
  width: 80px
}